{{!-- <div class='w-75 mx-auto'>
  <p class='fs-1'>Edit Attachment</p>
  {{#if errorEditAttachment}}
    <div class='alert alert-danger alert-dismissible fade show' role='alert'>
      <strong>Error!</strong>
      {{errorEditAttachment}}
      <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
  {{/if}}
  <form action='/projects/{{projectId}}/attachments/edit-attachment/{{attachment._id}}' method='post'>
    <div class='form-floating mb-3'>
      <input type='file' value='{{attachment.attachment}}' class='form-control' name='attachment' id='floatingInput' placeholder='Attachment'>
      <label for='floatingInput'>Attachment</label>
    </div>
    <button type='submit' class='btn btn-info mt-3'>Edit attachment</button>
  </form>
</div> --}}
