{{!-- <div class='w-75 mx-auto'>
  {{#if errorEditProfile}}
    <div class='alert alert-danger alert-dismissible fade show' role='alert'>
      <strong>Error!</strong>
      {{errorEditProfile}}
      <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
  {{/if}}
  <form action='/edit-profile/{{profile._id}}' method='post'>
    <div class='form-floating mb-3'>
      <input type='email' value='{{profile.email}}' class='form-control' name='email' id='floatingInput' placeholder='Email'>
      <label for='floatingInput'>Email</label>
    </div>
    <div class='form-floating mb-3'>
      <input type='password' value='{{profile.password}}' class='form-control' name='password' id='floatingInput' placeholder='Password'>
      <label for='floatingTextarea2'>Password</label>
    </div>
    <button type='submit' class='btn btn-primary mt-3'>Edit profile</button>
  </form>
</div> --}}
